* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.trending {
  display: flex;
  padding: 0.5rem 0.8rem;
  align-items: center;
}

.trending__titulo {
  font-weight: 700;
  font-size: 0.8rem;
  color: #8c8d91;
  text-transform: uppercase;
}

.trending__ul {
  display: flex;
  margin-left: 1rem;
  list-style-type: none;
}

.trending__ul li {
  font-size: 0.8rem;
  font-weight: 400;
  color: #8c8d91;
  border-left: 1px solid #bdbdc2;
  padding: 0 0.5rem;
}

.trending__ul li:first-child {
  border-left: none;
}
