html {
    font-weight: 700;
  
  font-size: 32px;
  line-height: 48px;
  color: black;
  cursor: pointer
}

h1 {
    font-family: "roboto", sans-serif;
    font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 48px;
  color: #e4871b;
  cursor: pointer
}